.goods {margin-left: 150px;}

.group_of_goods {margin-top: -35%;}

.checkbox {margin-left: -7%;
        margin-top: 2px;}

.filter_bottom {margin-left: -7%;
        margin-top: 15px;}

.filter {margin-left: -7%;
        font-size: 150%;}

h1 {margin-left: 150px;}
